[submodule "libs/lvgl"]
	path = libs/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "libs/lv_port_linux"]
	path = libs/lv_port_linux
	url = https://github.com/lvgl/lv_port_linux
	branch = master
